/********************* general *********************/
html, body {
  /*height: 100%;*/
  margin: 0;
  padding: 2% 5%;
}

#searchResults {
  background: none repeat scroll 0 0 #008B8B;
  color: #FFFFFF;
  display: table;
  height: 200px;
  margin: 30px 0;
  padding: 2%;
  width: 70%;
}

#events {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}


/********************* logout form *********************/
#logoutForm {
  position: absolute;
  right: 5%;
  width: 10%;
}

#logoutUser {
  border: medium none;
  display: block;
  height: 35px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}


/********************* content *********************/
#username {
  font-weight: bold;
  text-transform: capitalize;
}