/********************* general *********************/
html, body {
  /*height: 100%;*/
  margin: 0;
  padding: 2% 5%;
}

#searchResults {
  background: none repeat scroll 0 0 #008B8B;
  color: #FFFFFF;
  margin: 30px 0;
  padding: 1% 2% 3%;
  width: 70%;
}

.eventHeader {
  text-transform: capitalize;
}

#searchResults li {
  list-style: none outside none;
  margin: 5px;
}


/********************* logout form *********************/
#logoutForm {
  position: absolute;
  right: 5%;
  width: 10%;
}


/********************* form buttons *********************/
#logoutUser, #searchEvents {
  border: medium none;
  height: 35px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 5rem;
}


/********************* content *********************/
#username {
  font-weight: bold;
  text-transform: capitalize;
}